.uptodate
.uptodate-debug
.pkg
.cache
*.output
*.tgz
*.exe
__debug_bin
requirements.lock
mixin/vendor/
cmd/vali/vali
cmd/logcli/logcli
cmd/valitail/valitail
cmd/vali/vali-debug
cmd/valitail/valitail-debug
cmd/docker-driver/docker-driver
cmd/vali-canary/vali-canary
cmd/fluent-bit/out_vali.so
cmd/fluent-bit/out_vali.h
cmd/migrate/migrate
/vali
/valitail
/logcli
/vali-canary
dlv
rootfs/
dist
coverage.txt
.DS_Store
.aws-sam
.idea

# emacs
.#*

# terraform
.terraform*
*.tfstate*
*.tfvars